form {
    width: 500px;
    margin: auto;
    /* text-align: center; */
    border: 2px solid gray;
    height: 550px;
    box-shadow: 2px 2px 2px gray;
    background-image: url(https://media.vogue.fr/photos/6487263d6fdcab17d3011e4c/1:1/w_1200,h_1200,c_limit/BAR-00238.jpg);
    background-position: center;
}


label {
    color: rgb(40, 26, 231);
    font-size: 33px;
}

label,
input {
    margin: 15px 0;
}

h1 {
    padding-top: 20px;
}

.envoyer {
    border-radius: 10px;
    padding: 5px 15px;
    color: rgb(11, 11, 180);
    font-weight: bold;
    background-color: rgb(245, 147, 245);
}

form div {
    width: 200px;
    text-align: center;
}